// USER VARIABLES SECTION
$beigecolor: #F9F6F0; // Beige Color
$whitecolor: #FFF; // White Color
$greycolor: #BFBFBF; // Grey Color
$redcolor: #BD1622; // Red Color
$secondgreycolor: #5A5A5A; // Second Grey Color
$greengradient: linear-gradient(90deg, #80E765 0%, #F1F509 100%);
$violetgradient: linear-gradient(180deg, #1C0064 0%, #2C0086 100%);
$fontsize: 16px; // Body Font Size
$textcolor: #37120D; // Text Color
$lineheight: 1.5; // Document Line Height
$userfont: 'Manrope-regular', sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// IMPORT SECTION
@import 'node_modules/swiper/swiper-bundle.min'; // Swiper bundle

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }
}

@include font('Manrope-light', italic, 400, '../fonts/Manrope-Light.woff2');
@include font('Manrope-regular', italic, 400, '../fonts/Manrope-Regular.woff2');
@include font('Manrope-semibold', italic, 400, '../fonts/Manrope-SemiBold.woff2');
@include font('Manrope-bold', italic, 400, '../fonts/Manrope-Bold.woff2');
@include font('Monomakh-Regular', italic, 400, '../fonts/Monomakh-Regular.woff2');

// GENERAL CSS SETTINGS
* {
  box-sizing: border-box;
}

::placeholder {
  color: #9E9E9E;
}

input, textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  // &:required:valid {
  //   border-color: green;
  // }
}

input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button, button:focus, button:active {
  outline: none;
}

body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $textcolor;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background-color: $beigecolor;
}