@use '_config.scss' as config;

button:disabled {
  background-color: grey !important;
}
img {
  border-style: none;
  vertical-align: middle;
}
ul {
  padding-left: 25px;
}
ol {
  padding-left: 25px;
}
p {
  margin: 0 0 .5rem 0;
  padding: 0;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}
.section {
  margin: 0 0 110px 0;
}
.section-title {
  margin: 0 0 40px 0;
  font-size: 48px;
  font-family: 'Monomakh-Regular';
  color: config.$textcolor;
  line-height: 1;
}
.primary-btn {
  display: flex;
  padding: 19px;
  border: 1px solid config.$redcolor;
  border-radius: 36px;
  background-color: config.$beigecolor;
  gap: 10px;
  justify-content: center;
  align-items: center;
  .primary-btn__text {
    font-family: 'Monomakh-Regular';
    font-size: 20px;
    color: config.$textcolor;
  }
  .primary-btn__image {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}
.secondary-btn {
  display: flex;
  width: max-content;
  height: 86px;
  padding: 19px;
  border: 1px solid config.$beigecolor;
  border-radius: 43px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  .secondary-btn__text {
    font-family: 'Monomakh-Regular';
    font-size: 32px;
  }
  .secondary-btn__image {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}
.red-color {
  color: config.$redcolor;
}
/*
.swiper-slide {
  width: auto !important;
}
.input-number {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
*/
.input-field.required {
  border: 1px solid red !important;
}
.rhombs-line-top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.rhombs-line-bottom-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.upper-title {
  display: flex;
  margin: 0 0 60px 0;
  gap: 10px;
  align-items: center;
}
.upper-title__text {
  font-family: 'Monomakh-Regular';
  font-size: 32px;
  color: config.$redcolor;
}
.valenki-menu {
  width: max-content;
  margin: 0 auto;
  .valenki-menu-item {
    display: inline-block;
    padding: 0 20px;
  }
  .valenki-menu-item__link {
    font-family: 'Monomakh-Regular';
    font-size: 22px;
    color: config.$textcolor;
    transition: color .3s;
  }
  .valenki-menu-item__link:hover {
    color: config.$redcolor;
  }
}

// Header
.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 1;
  .flex-container {
    display: flex;
    padding: 25px 20px;
    border-radius: 25px;
    background-color: config.$beigecolor;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    width: 102px;
  }
  .logo img {
    width: 100%;
  }
  .booking-btn__text {
    color: config.$redcolor;
  }
}

// Main section
.main-section {
  height: 720px;
  padding-top: 242px;
  background: url(../images/dist/main-image.jpg) center no-repeat;
  background-size: cover;
  .main-title {
    margin: 0 0 60px 0;
    font-size: 68px;
    font-family: 'Monomakh-Regular';
    color: config.$beigecolor;
    line-height: 1;
  }
  .main-buttons {
    display: flex;
    gap: 20px;
  }
  .view-more-btn {
    background-color: transparent;
    .view-more-btn__text {
      color: config.$beigecolor;
    }
  }
  .booking-btn {
    background-color: config.$whitecolor;
    .booking-btn__text {
      color: config.$redcolor;
    }
  }

}

// About section
.about-section {
  background: url(../images/dist/bg-big-rhomb.png) center no-repeat;
  background-size: contain;
  .flex-container {
    display: flex;
    gap: 100px;
    justify-content: space-between;
  }
  .about-description,
  .about-gallery {
    width: 50%;
  }
  .about-gallery {
    height: 663px;
  }
  .description-text {
    margin-bottom: 40px;
    font-family: 'Manrope-Light';
    font-size: 24px;
    line-height: 1.3;
  }
  .description-advantages {
    display: flex;
    gap: 40px 150px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .description-advantages .description-advantages-item__number {
    font-family: 'Monomakh-Regular';
    font-size: 48px;
    color: config.$redcolor;
    line-height: 1;
  }
  .description-advantages .description-advantages-item__text {
    font-family: 'Monomakh-Regular';
    font-size: 24px;
    color: config.$redcolor;
  }
  .about-gallery {
    display: flex;
    gap: 20px;
  }
  .about-gallery .flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .about-gallery .about-gallery-item {
    border-radius: config.$borderradius;
    overflow: hidden;
  }
  .about-gallery .about-gallery-item-wide {
    height: 60%;
  }
  .about-gallery .about-gallery-item-narrow {
    height: 40%;
  }
  .about-gallery .about-gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Menu section
.menu-section {
  position: relative;
  .flex-container {
    display: flex;
    gap: 20px;
  }
  .menu-item {
    position: relative;
    padding-bottom: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: config.$textcolor;
    border-radius: config.$borderradius;
    background-color: config.$whitecolor;
    transition: border-color .3s;
  }
  .menu-item .menu-item__image {
    height: 508px;
    margin-bottom: 40px;
    border-radius: config.$borderradius;
    overflow: hidden;
  }
  .menu-item .menu-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .menu-item .menu-item__title {
    margin-bottom: 40px;
    font-family: 'Monomakh-Regular';
    font-size: 32px;
    color: config.$textcolor;
    text-align: center;
    transition: color .3s;
  }
  .menu-btn {
    display: flex;
    width: max-content;
    margin: 0 auto;
    padding: 19px;
    border-width: 1px;
    border-style: solid;
    border-color: config.$textcolor;
    border-radius: 43px;
    background-color: config.$whitecolor;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: border-color .3s;
    .menu-btn__text {
      font-family: 'Monomakh-Regular';
      font-size: 32px;
      color: config.$textcolor;
      transition: color .3s;
    }
    svg path {
      fill: config.$textcolor;
      transition: fill .3s;
    }
  }
  .menu-item:hover {
    border-color: config.$redcolor;
  }
  .menu-item:hover .menu-item__title {
    color: config.$redcolor;
  }
  .menu-item:hover .menu-btn__text {
    color: config.$redcolor;
  }
  .menu-item:hover .menu-btn {
    border-color: config.$redcolor;
  }
  .menu-item:hover svg path {
    fill: config.$redcolor;
  }
  .bg-big-rhomb {
    position: absolute;
    top: 6px;
    left: -60px;
    width: 779px;
    height: 779px;
    z-index: -1;
  }
  .bg-big-rhomb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// App section
.app-section {
  .white-block {
    height: 300px;
    border-radius: config.$borderradius;
    background-color: config.$whitecolor;
  }
}

// Booking section
.booking-section {
  .white-frame {
    position: relative;
    padding: 80px 40px;
    border-radius: config.$borderradius;
    background-color: config.$whitecolor;
    overflow: hidden;
  }
  .flex-container {
    display: flex;
    gap: 76px;
  }
  .booking-section-title {
    margin-bottom: 10px;
    font-family: 'Monomakh-Regular';
    font-size: 48px;
    color: config.$redcolor;
    line-height: 1;
  }
  .booking-btn {
    border: 1px solid config.$redcolor;
    background-color: config.$whitecolor;
    flex-shrink: 0;
    .booking-btn__text {
      color: config.$redcolor;
    }
  }
  .booking-section-description {
    font-family: 'Manrope-Light';
    font-size: 24px;
    line-height: 1.3;    
  }
}

// Interior section
.interior-section {
  .interior-section-slider {
    position: relative;
    margin-top: 150px;
  }
  .interior-slider {
    border-radius: config.$borderradius;
  }
  .swiper-wrapper {
    height: 530px;
  }
  .interior-slider-item {
    width: 60%;
    border-radius: config.$borderradius;
    overflow: hidden;
  }
  .interior-slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: -50px;
  }
  .swiper-button-next {
    left: 55%;
    right: auto;
  }
  .swiper-button-prev {
    right: 55%;
    left: auto;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after{
    content: '';
  }

}

// Special offer section
.special-offer-section {
  .white-frame {
    padding: 40px;
    border: 1px solid config.$textcolor;
    border-radius: config.$borderradius;
    background-color: config.$whitecolor;
  }
  .section-title {
    margin-bottom: 10px;
  }
  .special-offer-description {
    margin-bottom: 40px;
    font-family: 'Manrope-Light';
    font-size: 24px;
    line-height: 1.3;    
  }
  .special-offer-item {
    position: relative;
    border-radius: config.$borderradius;
    background-color: config.$beigecolor;
    overflow: hidden;
  }
  .special-offer-item-blue {
    padding: 71px 20px;
  }
  .special-offer-wide-flex-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .special-offer-item-wide .special-offer-item__day {
    font-family: 'Monomakh-Regular';
    font-size: 32px;
    line-height: 1;
  }
  .special-offer-item-wide .special-offer-item__time {
    font-family: 'Monomakh-Regular';
    font-size: 24px;
    line-height: 1;
  }
  .special-offer-item__location,
  .special-offer-item__enter {
    font-size: 22px;
    line-height: 1.2;
  }
  .special-offer-item-wide {
    margin-bottom: 40px;
  }
  .special-offer-item-narrow .special-offer-item__day {
    font-family: 'Monomakh-Regular';
    font-size: 24px;
    line-height: 1;
  }
  .special-offer-item-narrow .special-offer-item__time {
    font-family: 'Monomakh-Regular';
    font-size: 18px;
    line-height: 1;
  }
  .flex-container {
    display: flex;
    gap: 40px;
  }
  .special-offer-item-red {
    padding: 80px 40px 80px 120px;
  }
  .special-offer-item-flex-container {
    display: flex;
    margin: 10px 0;
    gap: 20px;
    justify-content: space-between;
  }
  .special-offer-item__title {
    font-family: 'Monomakh-Regular';
    font-size: 30px;
    line-height: 1;
  }
  .special-offer-item__price {
    font-family: 'Monomakh-Regular';
    font-size: 28px;
    color: config.$bluecolor;
    line-height: 1;
    .small-text {
      display: block;
      font-size: 18px;
      color: config.$textcolor;
    }
  }

  .special-offer-item__text {
    line-height: 1.3;
  }
  .rhombs-line-vertikal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

}

// Contacts section
.contacts-section {
  background: url(../images/dist/bg-big-rhomb.png) center no-repeat;
  background-size: contain;
  .flex-container {
    display: flex;
    gap: 30px;
  }
  .contacts,
  .map {
    width: 50%;
  }
  .contacts-flex-container {
    display: flex;
    margin: 0 0 40px 0;
    gap: 20px 40px;
    flex-wrap: wrap;
  }
  .contacts-item__title {
    font-family: 'Monomakh-Regular';
    font-size: 48px;
    color: config.$redcolor;
  }
  .contacts-item__text {
    font-family: 'Monomakh-Regular';
    font-size: 24px;
  }
  .booking-btn {
    display: flex;
    padding: 19px;
    border: 1px solid config.$redcolor;
    border-radius: 36px;
    background-color: config.$redcolor;
    gap: 10px;
    justify-content: center;
    align-items: center;
    .booking-btn__text {
      font-family: 'Monomakh-Regular';
      font-size: 20px;
      color: config.$whitecolor;
    }
    .booking-btn__image {
      width: 32px;
      height: 32px;
      object-fit: cover;
    }
  }
  .map {
    border-radius: config.$borderradius;
    overflow: hidden;
  }
}

// Rhombs
.rhombs {
  width: 100%;
  height: 89px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// Footer
.footer {
  margin-top: 30px;
  .footer-logo {
    width: 215px;
    margin: 0 auto;
  }
  .footer-logo img {
    width: 100%;
  }
  .footer-social {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .footer-social-item {
    display: block;
    width: 32px;
    height: 32px;
  }
  .footer-required .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-required .privacy-policy {
    font-size: 18px;
    color: config.$textcolor;
    text-decoration: underline;
  }
  .footer-authors {
    text-align: right;
  }
  .footer-authors .author a {
    margin-bottom: 10px;
    font-family: 'Monomakh-Regular';
    font-size: 14px;
    color: config.$bluecolor;
    line-height: 1;
    text-decoration: underline;
  }
  .footer-item {
    margin-bottom: 30px;
  }
  .footer-rhombs {
    width: 100%;
    overflow: hidden;
  }
  .footer-rhombs img {
    width: 100%;
  }
}

// Privacy policy page
.privacy-policy-page,
.soglasie-posetitelya-sajta-na-obrabotku-personalnyh-dannyh-page {
  font-family: 'Manrope-regular';
  font-size: 16px;
}

// Modal
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 90, .5);
  top: 0;
  left: 0;
  z-index: 100;
  &.active {
    display: block;
  }
  .modal-wrapper {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 0 12px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
  .modal-wrapper.active {
    opacity: 1;
    visibility: visible;
  }
  .modal-area {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    padding: 40px 60px;
    border-radius: 10px;
    background-color: config.$greycolor;
    overflow: hidden;
  }
  .modal-close {
    position: absolute;
    top: 40px;
    right: 60px;
    cursor: pointer;
  }
  .close {
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 3px;
  }
  .close::before,
  .close::after { 
    content: "";
    position: absolute;
    top: -3px;
    left: 12px;
    width: 3px;
    height: 30px;
    background-color: #868686;
    border-radius: 2px;
  }
  .close::before {
    transform: rotate(45deg);
  }
  .close::after {
    transform: rotate(-45deg);
  }
  .modal-title {
    margin: 0 0 40px 0;
    padding: 0 40px 0 0;
    font-family: 'Manrope-regular';
    font-size: 24px;
    color: config.$secondgreycolor;
    line-height: 1.1;
  }
  .form-group {
    margin: 0 0 25px 0;
  }
  .label {
    display: block;
    margin: 0 0 10px 0;
    font-family: 'Manrope-regular';
    font-size: 20px;
    color: config.$secondgreycolor;
    line-height: 1.1;
  }
  .input-field {
    display: block;
    width: 100%;
    height: 52px;
    padding: 5px 10px;
    border: 1px solid #C8C8C8;
    border-radius: 7px;
    font-family: 'Manrope-regular';
    font-size: 18px;
    color: config.$textcolor;
    resize: none;
  }
  .input-field::placeholder {
    color: #C8C8C8;
  }
  .modal-submit-btn {
    display: block;
    width: 483px;
    height: 90px;
    margin: 50px auto 30px auto;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: config.$beigecolor;
  }
  .modal-submit-btn__text {
    font-size: 30px;
    color: config.$greycolor;
    text-transform: uppercase;
  }
}

// agreement text галочка соглашения
.agreement-text {
  display: flex;
  margin: 15px 0;
  font-size: 14px;
  color: config.$secondgreycolor;
  line-height: 1.6;
  align-items: center;
  a {
    font-size: 14px;
    color: config.$secondgreycolor;
    text-decoration: underline;
  }
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox+label::before {
    content: '';
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin: 3px 10px 3px 0;
    border: none;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 60%;
    background-color: config.$beigecolor;
  }
  .custom-checkbox:checked+label::before {
    border: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ffffff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox-label {
    display: block;
  }
}

// We use cookie
.we-use-cookie {
  position: fixed;
  right: 0;
  bottom: 25px;
  left: 0;
  display: none;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  &.active {
    display: block;
  }
  .we-use-cookie-wrapper {
    display: flex;
    max-width: 715px;
    margin: 0 80px 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: config.$greycolor;
    align-items: center;
  }
  .we-use-cookie-text {
    padding: 0 20px 0 0;
    font-size: 14px;
    color: grey;
  }
  .we-use-cookie-text a {
    font-size: 14px;
    color: grey;
    text-decoration: underline;
  }
  .we-use-cookie-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .we-use-cookie-close {
    display: block;
    width: 93px;
    height: 40px;
    padding: 0;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: config.$greycolor;
    font-family: inherit;
    font-size: 14px;
    color: #fff;
    flex-shrink: 0;
    cursor: pointer;
  }
}

/* burger menu */
.burger-menu-wrapper {
  position: fixed;
  top: 14px;
  right: 12px;
  display: none;
  width: 50px;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  background: red;
  cursor: pointer;
  z-index: 12;
  transition: background-color .5s;
  .burger-menu {
    position: relative;
    height: 100%;
  }
  .burger-menu::before,
  .burger-menu::after,
  .span {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: config.$greycolor;
    transition: all .5s;
  }
  .burger-menu::before {
    top: 10px;
  }
  .span {
    top: 21px;
  }
  .burger-menu::after {
    top: 32px;
  }
  /*
  &.menu-is-open {
    background: transparent;
  }
  &.menu-is-open .burger-menu::before,
  &.menu-is-open .burger-menu::after {
    top: 21px;
  }
  &.menu-is-open .burger-menu::before {
    transform: rotate(-45deg);
  }
  &.menu-is-open .burger-menu::after {
    transform: rotate(45deg);
  }
  &.menu-is-open .burger-menu span {
    display: none;
  }
  */
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 8px 0 30px 0;
  background: red;
  color: config.$greycolor;
  opacity: 0;
  visibility: hidden;
  z-index: 16;
  transition: opacity .5s, visibility .5s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .logo {
    display: block;
    width: 140px;
    margin: 0 0 30px 0;
  }
  .logo img {
    width: 100%;
  }
  .search-form {
    margin-bottom: 30px;
  }
  .menu {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
  }
  .menu-item {
    display: block;
    padding: 10px 0;
  }
  .menu-item a {
    font-size: 18px;
    color: config.$greycolor;
    text-decoration: none;
  }
  .menu-item__link {
    text-transform: uppercase;
  }
  .submenu {
    padding-top: 10px;
    list-style: none;
  }
  .submenu-item {
    padding: 5px 0;
  }
  .socials {
    display: flex;
    margin: 0 0 20px 0;
    gap: 10px;
  }
  .socials .socials-item {
    display: flex;
    width: 58px;
    height: 35px;
    border: 1px solid config.$greycolor;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .socials .socials-item img {
    height: 15px;
  }
  .address-wrapper {
    font-family: 'Roboto-SemiBold';
    font-size: 18px;
  }
}

// Container
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(12px);
  padding-left: calc(12px);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1460px;
  }
}

@media only screen and (max-width : 1600px) {
  
  // Menu section 
  .menu-section {
    .menu-item .menu-item__title {
      font-size: 30px;
    }
    .menu-btn .menu-btn__text {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width : 1400px) {


  // Menu section 
  .menu-section {
    .menu-item .menu-item__title {
      font-size: 28px;
    }
    .menu-btn {
      padding: 15px 19px;
    }
    .menu-btn .menu-btn__text {
      font-size: 28px;
    }
  }
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

  // We use cookie
  .we-use-cookie {
    .we-use-cookie-wrapper {
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width : 768px) {

  config.$borderradius: 15px;

  .about-section .about-gallery .about-gallery-item {
    border-radius: config.$borderradius;
  }

  .hidden-mobile {
    display: none !important;
  }
  .hidden-desktop {
    display: block !important;
  }

  // Privacy pilocy page
  .privacy-policy-page,
  .soglasie-posetitelya-sajta-na-obrabotku-personalnyh-dannyh-page {
    font-size: 14px;
  }


  // Modal
  .modal-window {
    .modal-area {
      padding: 30px;
    }
    .modal-title {
      margin-bottom: 20px;
      font-size: 20px;
    }
    .modal-close {
      top: 32px;
      right: 40px;
    }
    .close {
      width: 20px;
      height: 20px;
    }  
    .close::after,
    .close::before {
      height: 25px;
    }
    .modal-submit-btn {
      width: 200px;
      height: 50px;
      margin: 20px auto 0 auto;
    }
    .modal-submit-btn__text {
      font-size: 18px;
    }
    .input-field {
      height: 35px;
      font-size: 16px;
    }
  }


  /* burger menu */
  .burger-menu-wrapper {
    display: block;
  }

  /* mobile menu */
  .mobile-menu {
    display: block;
    .mobile-phone {
      justify-content: flex-start;
    }
  }

  // We use cookie
  .we-use-cookie {
    .we-use-cookie-wrapper {
      margin: 0 12px;
      padding: 15px;
    }
  }

}

@media only screen and (max-width : 576px) {


  // We use cookie
  .we-use-cookie {
    .we-use-cookie-wrapper {
      padding: 12px;
      flex-direction: column;
      gap: 10px;
    }
    .we-use-cookie-text {
      padding: 0 15px 0 0;
    }
    .we-use-cookie-buttons {
      flex-direction: row;
    }
  }
}

@media only screen and (max-width : 480px) {

  config.$borderradius: 10px;

  .about-section .about-gallery .about-gallery-item {
    border-radius: config.$borderradius;
  }

  // We use cookie
  .we-use-cookie {
    .we-use-cookie-text {
      font-size: 13px;
    }
    .we-use-cookie-text a {
      font-size: 13px;
    }
    .we-use-cookie-close {
      height: 35px;
      font-size: 13px;
    }
  }

}

@media only screen and (max-width : 360px) {

  // Modal
  .modal-window {
    .modal-area {
      padding: 25px 15px;
    }
  }


}